
:root {
  background-color: grey;
}

.info {
	text-align: center;
}

.table {
	width: 1200px;
	border-collapse: collapse;
	font-family: sans-serif;
	margin: 40px auto;
}

.table tr, .table td, .table th {
	border: 1px solid white;
    text-align: center;
}

.table td, .table th {
	padding: 5px;
}

thead tr:first-of-type {
	background-color: green!important;
}

.vertical {
	writing-mode: vertical-lr;
	text-orientation: mixed;
	font-size: 12px;
}

.button {
	background-color: black!important;
	color: white!important;
}